<%= content_box '搜索结果', '' do%>
<ul>
  <% for public_user in @public_users %>
  <li>
    <%= link_to public_user.friendly_name, '/public/user/'+public_user.id.to_s %>
  </li>
  <% end %>
</ul>
<%= link_to('上一页', :offset => [@offset-10, 0].max) if @offset > 0 %>
<%= link_to('下一页', :offset => @offset+10) if @public_users.count > 10 %>
<% end %>
