/*
    Document   : application
    Created on : Feb 17, 2011, 9:08:59 PM
    Author     : wander
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

label {
  font-weight: bold; 
  color: #666;
}

a {
  color: #f85811;
  text-decoration: none;
}
a:hover {
  color: #d83811;
  text-decoration: underline;
}

root {
    display: block;
}

#welcome {
    margin-left: 50px;
}

#welcome li {
    list-style-type: disc;
    margin-bottom: 2px;
}

#header_ann {
    margin-top: 10px;
    padding: 10px 20px 10px 10px;
    background-color: #ffffbb;
}

#header_ann ul {
    padding-left: 20px;
}

#header_ann li {
    list-style-type: disc;
    margin-bottom: 2px;
}

#index_logo {
    margin-top: -10px;
    color: #ee6600;
    font-size: 28px;
}

#content-body {
    /*margin-top: -15px;*/
}

#aside_container {
    padding-left: 20px;
}

#sidebar_ann {
    background-color: #ffffdd;
}

#sidebar_ann .subtitle {
    margin-left: -15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

#sidebar_ann li {
    list-style-type: disc;
    margin-bottom: 5px;
}

#mobile_tip {
  margin-top: 0px;
  padding: 10px 30px 10px 30px;
  background-color : #ffffdd;
}

#profile_header .detail{
  padding: 10px 10px 5px 10px;
  font-size: 15px;
}
#profile_header .detail ul li{
  margin-left: 10px;
  margin-top: 5px;
  font-size:13px;
  list-style-type: none;
}

#search_box_home {
  background-alpha: 0;
  width: 300px;
  position: absolute;
  left: 700px;
  top: 22px;
  margin: 0px auto;
}

#search_box {
  background-color: #ffdd2a;
  width: 100%;
  height: 50px;
}
#search_box label, #search_box_home label{
  margin-left: 20px;
  font-size: 11px;
}
#search_box a, #search_box_home a{
  margin: 0px 5px 5px 5px;
  font-size: 11px;
}
#search_input {
  float: left;
  margin: 10px 5px 0px 20px;
  width: 180px;
}
#search_button {
  margin: 8px 5px 0px 0px;
}
.title_name {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
}
.search_item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff2cc;
  margin-bottom: 2px;
}
.search_user_item .item_table {
  width: 100%;
}
.user_profile {
  width: 300px;
}
.snapshot_line {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}
.snapshot_line a{
  float: left;
  margin-right: 20px;
  max-width: 150px;
  overflow:hidden; text-overflow:ellipsis;
  white-space: nowrap;;
}
.agenda_list .agenda_pannel ul li {
    display: inline;
    font-weight: bold;
}

.agenda_list .agenda_pannel ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.agenda_list .agenda_pannel ul li a {
    text-decoration: none
}

.agenda_list .agenda_pannel ul li a:hover {
    color: #5C5C5C
}

.agenda_list .instance.item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.agenda_list .instance.name {
    font-size: larger;
    margin-bottom: 5px;
}

.agenda_list .instance.links {
    text-align: right;
}

.agenda_list .instance.info {

}

.agenda_list .sharing.item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.agenda_list .sharing.name {
    font-size: larger;
    margin-bottom: 5px;
}

.agenda_list .sharing.links {
    text-align: right;
}

#agenda_list_content {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: -30px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid 1px #eecc00; 
}

.link1 {
    float: left;
}

.commit_button {
    display: block;
    border: none;
    padding: 3px 13px 5px 13px;
    font-size: 13px;
    cursor: pointer;
}


.noticebar {
    margin-left: 50px;
}

.noticebar #alert {
    margin-bottom: 15px;
    color: #FF5811;
    font-weight: bold;
}

.noticebar #alert:before {
    content: "\2717";
}

.noticebar #notice {
    margin-bottom: 5px;
    font-weight: bold;
}

.noticebar #notice:before {
    content: "\2714";
}

.register_field {
    margin-top: 20px;
}

.register_field .title {
    float:left;
    width: 45px;
}

.register_button {
    display: block;
    text-align: center;
    border: none;
    padding: 10px 13px 10px 13px;
    width: 80px;
    background: url("../../images/biz/link1-bgd-lardge.gif") repeat-x scroll left top transparent; 
}

#login_container {padding-top:10px; background-color: #ffffdd }
.login_small {clear:right;width:100%;overflow:hidden}
.login_small fieldset {border:none; width: 100%;}
.login_small fieldset hr {margin-top: 20px; color: #eee}
.login_small .field {clear:both;min-height:20px;height:auto !important;height:30px}
.login_small .field .title {font-weight:bold; width: 65px;margin-bottom:1px; font-size: 13px;}
.login_small .field .textvalue {width:120px;padding:2px 5px 0px 3px;border:1px solid #d2d2d2;float:left; margin-bottom: 3px;}
.login_small .wrapper {display:inline}
.login_small .wrapper .link1 {float:left; margin-right: 10px;}

.event.show {
    line-height: 1.5;
}

.event.show .event.name {
    font-weight: bold;
    font-size: large;
}

.event.show .event.creator {
    margin-left: 1em;
    font-style: italic;
    margin-bottom: 10px;
}

.event.show .instance.warning {
    margin-left: 1em;
    margin-bottom: 10px;
    color: red;
}

.event.show .instance.check_in_percentage {
    margin-left: 1em;
    margin-bottom: 10px;
}

.event.show .instance.score {
    /*    margin-left: 1em;
        margin-bottom: 10px;*/
}

.event.show .instance.score a {
    color: black;
    text-decoration: none;
}

.invitation_message {
    border: groove;
    margin-left: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.event.show .event.buttons {
}

.event.show .event.buttons .wrapper {
    display: inline;
}

.event.show .event.buttons .link1 {
    margin-right: 20px;
}

.event.attendee td {
    padding: 10px;
}

.event.attendee dt {
    font-weight: bold;
    margin-bottom: 3px;
}

.event.attendee li {
    margin-top: 2px;
    margin-bottom: 2px;
}

.event.attendee .name {
    min-width: 4em;
    float: left;
}

.event.sharings .quote {
    margin-left: 10px;
}

.event.sharings .event.buttons .wrapper {
    display: inline;
}

.event.sharings .event.buttons .link1 {
    margin-right: 20px;
}



.field .link1 {
    margin-right: 20px;
}

.field_help {
    margin-left: 105px;
}

.field_div {
    margin-left: 105px;
}

.stressed {
    font-weight: bold;
    color: #666;
    padding-top: 10px;
}

#acknowledge {
    text-indent: -3em;
    position: relative;
    text-align: left;
    width: 330px;
    margin: 0 auto;
}

.hanging:before{
    width: 3em;
    text-align: right;
    display: block;
    float: left;
    position: relative;
}

.sharing.title {
    font-weight: bold;
    font-size: large;
    margin-bottom: 15px;
}

.conflict {
    margin-left: 25px;
}

a.del {
    color: #88AAEE;
}

.conflict ul {
    list-style-type: circle;
}

.instruction_list {
    list-style-type: decimal;   
}

.textfield_narrow {
    width: 450px;
}

.fade-box {
/*    width: 330px;*/
    position: absolute;
    text-align:center;
}

#image-container {
/*    width: 330px;
    height: 150px;*/
    background-position:center;
    background-repeat:no-repeat;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

