<% if @not_confirmed %>
<p><strong>注意！</strong>
    系统未能验证你的学号，请立即
    <strong><%= link_to "重新验证", @auth_path%></strong><br/>
    如果学号未通过验证，系统将无法导入你的课表，并且其它用户可以在注册时<strong>覆盖该学号，从而导致你的
    同享日程账户丢失！</strong>（由于系统升级，原先一些被错误通过验证的用户现在可能需要重新验证）
</p>
<% end %>

<% if @curriculum_empty %>
<p><strong>课表有问题？</strong>
  请尝试用电脑登录并通过Excel课表文件导入课表
</p>
<% end %>

<% if @renren_url_empty %>
<p>
  <strong>让Ta找到你！</strong>
   立即<%= link_to "填写人人网个人主页地址", edit_user_registration_path%>
</p>
<% end %>