<div id="sidebar_ann">
  <div class="subtitle">最近更新：</div>
  <ul>
    <li>
      快去<%= link_to "填写你的人人网地址", edit_user_registration_path%>，让同上一节课的Ta认识你！(3月3日)
    </li>
    <li>
      可以导入研究生课表了！(3月3日)
    </li>
    <li>
      课表依然导入失败？只好<%= link_to "手动上传课表文件", {:controller => "curriculum", :action => "upload"}%>……(3月3日)
    </li>
  </ul>
</div>
