<%= image_tag "slides_home/poster.jpg" %>

<% content_for :aside do %>
  <div id="login_container" class="inside">
    <h2>登录</h2>
    <%= render(:partial => "sessions_extended/login_form", :locals => {:small => true})%>
    <br/>
    <div>
      手机访问：<a href="http://tongshare.com">tongshare.com</a> <br/>
      <div style="text-align:center"><%= image_tag "qrcode.gif", :title=>"用手机扫描二维码获取本站地址" %></div>
    </div>
  </div>
<% end %>
