<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
  <p><%= yield :name %>你好！</p>

  <%= yield %>

<p>--------------</p>
<p>同享日程 tongshare.com</p>
<p>小贴士：<%= rand_note %></p>

<p>如果您不想再接收此类邮件，请进入以下页面进行设置：</p>
<p><%= link_to 'http://' + SITE + edit_user_registration_path,  'http://' + SITE + edit_user_registration_path%></p>
</body>
</html>